<!DOCTYPE html>
{% load static %}
<html lang="en-US">

    <head>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/onsale/css/bootstrap.css'%}">
    <title>Example of HTML5 Doctype declaration</title>
    </head>

    <body>
    <div class="card-body">
        <form action="" method="POST">{% csrf_token %}
            <input>
        </input>

        </form>
    

    </body>
  
  
  
</html>